<div>
    <h2><a class="link" href="/post/{{id}}">{{title}}</a></h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by {{user.username}}, {{format_date created_at}}.</h5>
    <br>
    <p>{{content}}</p>
    <br>
</div>